<div class="item {{ data.type }}" [class.disabled]="graphservice.tempDrawing === true" #item>
  
  <div class="tools-container">
    <div class="tools">
      <span class="tool lock">
        <i class="fas fa-lock"
          [class.fa-lock]="!editionMode"
          [class.fa-lock-open]="editionMode"
          (click)="toggleEditionMode()"
        ></i>
      </span>
      <span class="tool edit" *ngIf="editionMode" (click)="editItem()">
        <i class="fa fa-edit"></i>
      </span>
      <span class="tool deletion" *ngIf="editionMode" (click)="tryDeleteItem()">
        <i class="fa fa-trash-alt"></i>
      </span>
    </div>

    <div #triggerElement class="item-type">{{ data.targetItem.label }}</div>
  </div>
 
  <div class="content">

    <div class="column left-column" *ngIf="inAnchors.length > 0" [class.no-right-border]="outAnchors.length === 0">
      <div class="command in"
        *ngFor="let anchor of data.inAnchors"
        (click)="triggerIn(anchor)"
      >
      <graph-anchor
        #anchorElem
        type="left"
        [data]="anchor"
        [id]="anchor.id"
        [parentItem]="this"
      ></graph-anchor>
      </div>
      <div class="add-container" (click)="addAnchor(inAnchors, 'in')" *ngIf="editionMode">
        <span>
          <i class="fa fa-plus"></i>
        </span>
      </div>
    </div>

    <div class="column right-column" *ngIf="outAnchors.length > 0">
      <div class="command out"
        *ngFor="let anchor of data.outAnchors"
        (click)="triggerOut(anchor)"
      >
      <graph-anchor
        #anchorElem
        type="right"
        [data]="anchor"
        [id]="anchor.id"
        [parentItem]="this"
      ></graph-anchor>
      </div>

      <div class="add-container" (click)="addAnchor(outAnchors, 'out')" *ngIf="editionMode">
        <span>
          <i class="fa fa-plus"></i>
        </span>
      </div>
    </div>
    
  </div>
</div>