<div>
    <div class="name-display">Id:</div><input disabled type="text" [(ngModel)]="inspected['id']">
</div>
<div>
    <div class="name-display">Name:</div><input type="text" [(ngModel)]="inspected['name']">
</div>
<div>
    <div class="name-display">Description:</div><textarea [(ngModel)]="inspected['description']"></textarea>
</div>
<div><div class="name-display">Mode:</div>
    <select [(ngModel)]="inspected['mode']">
        <option value="xywh">XYWH</option>
        <option value="trbl">TRBL</option>
    </select>
</div>
<property-line
    [enabled]="inspected['mode'] === 'xywh'"
    *ngFor="let item of XYWH_PROPERTIES"
    [data]="item"
    [object]="inspected"
    [name]="item['name']"
    [property]="item['id']"
></property-line>
<div class="separator"></div>
<property-line
    [enabled]="inspected['mode'] === 'trbl'"
    *ngFor="let item of TRBL_PROPERTIES"
    [data]="item"
    [object]="inspected"
    [name]="item['name']"
    [property]="item['id']"
></property-line>