<div class="object-name">{{ inspected["name"] }} ({{ inspected["objectType"] }})</div>
<div class="separator">Object metas</div>
<div>
    <div class="name-display">Id:</div><input disabled type="text" [(ngModel)]="inspected['id']">
</div>
<div>
    <div class="name-display">Name:</div><input type="text" [(ngModel)]="inspected['name']">
</div>
<div>
    <div class="name-display">Description:</div><textarea [(ngModel)]="inspected['description']"></textarea>
</div>

<ng-container *ngFor="let panel of additionalPanels">
    <div class="separator">{{ panel.name }}</div>
    <div *ngFor="let entry of panel.entries">
        <additional-entry [entry]="entry"></additional-entry>
    </div>
</ng-container>

<div class="separator">Global properties</div>
<property-line
    *ngFor="let item of GLOBAL_PROPERTIES"
    [data]="item"
    [object]="inspected"
    [name]="item['name']"
    [property]="item['id']"
></property-line>
<div class="separator">Position mode</div>
<div><div class="name-display">Mode:</div>
    <select [(ngModel)]="inspected['mode']">
        <option value="xywh">XYWH</option>
        <option value="trbl">TRBL</option>
    </select>
</div>
<div class="separator">XY position</div>
<property-line
    *ngFor="let item of XYWH_PROPERTIES"
    [enabled]="inspected['mode'] === 'xywh'"
    [data]="item"
    [object]="inspected"
    [name]="item['name']"
    [property]="item['id']"
></property-line>
<div class="separator">TRBL position</div>
<property-line
    *ngFor="let item of TRBL_PROPERTIES"
    [enabled]="inspected['mode'] === 'trbl'"
    [data]="item"
    [object]="inspected"
    [name]="item['name']"
    [property]="item['id']"
></property-line>
<div class="separator"></div>
<div class="actions">
</div>
