.editor-main-container {
    height: 100%;
    text-align: center;
}

.main {
    display: flex;
    height: 100%;

    .right {
        width: 400px;
        background-color: yellowgreen;
    }

    .left {
        flex: 1;
    }
}

.wrapper {
    vertical-align: middle;
}