<div class="main">
  <div class="left">
    <div class="editor-main-container" #mainContainer>
      <div class="wrapper" [style.line-height.px]="containerHeight">
        <div class="canvas-container" #canvasContainer>
          <outline-cross class="cross-lt"></outline-cross>
          <outline-cross class="cross-rt"></outline-cross>
          <outline-cross class="cross-lb"></outline-cross>
          <outline-cross class="cross-rb"></outline-cross>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="buttons">
      <input type="button" value="Scene size" (click)="editSceneSize()">
      <input type="button" value="Save all" (click)="saveAll()">
      <input type="button" value="Create base rect" (click)="createBaseRect()">
      <input type="button" value="Create image" (click)="createImage()">
    </div>
    <properties-editor [inspected]="editorService.selectedObject" *ngIf="editorService.selectedObject"></properties-editor>
  </div>
</div>