<div class="main">
  <div class="left">
    <div class="editor-main-container" #mainContainer>
      <div class="wrapper" [style.line-height.px]="containerHeight">
        <div class="canvas-container" #canvasContainer>
          <outline-cross class="cross-lt"></outline-cross>
          <outline-cross class="cross-rt"></outline-cross>
          <outline-cross class="cross-lb"></outline-cross>
          <outline-cross class="cross-rb"></outline-cross>
        </div>
      </div>
    </div>
    <div class="bottom-panel" #bottomPanel>
      <structure-objects-panel [bounds]="bottomPanelBounds"></structure-objects-panel>
    </div>
  </div>
  <div class="right">
    <div class="buttons">
      <input type="button" value="Go to index" [routerLink]="['../index']">
      <input type="button" value="Scene size" (click)="editSceneSize()">
      <input type="button" value="Save all" (click)="saveAll()">
      <input type="button" value="Create base rect" (click)="createBaseRect()">
      <input type="button" value="Create image" (click)="createImage()">
      <input type="button" value="Create nine slice image" (click)="createNineSliceImage()">
      <input type="button" value="Create text" (click)="createText()">
      <input type="button" value="Create state" (click)="createState()">
      <input type="button" value="Create transition" (click)="createTransition()">
    </div>
    <select *ngIf="editorService.graphicObjects && editorService.graphicObjects.length > 0" class="object-selector" [(ngModel)]="selectedObjectId">
      <option *ngFor="let object of editorService.graphicObjects" value="{{ object.id }}">{{ object.id }} ({{ object.objectType }})</option>
    </select>
    <properties-editor [inspected]="editorService.selectedObject" *ngIf="editorService.selectedObject"></properties-editor>
  </div>
</div>