<div class="main">
  <div class="left">
    <div class="editor-main-container" #mainContainer>
      <div class="wrapper">
        <div class="canvas-container" #canvasContainer [style.line-height.px]="containerHeight"></div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="buttons">
      <input type="button" value="Scene size" (click)="editSceneSize()">
    </div>
    <properties-editor [inspected]="editorService.selectedObject" *ngIf="editorService.selectedObject"></properties-editor>
  </div>
</div>