.vertical {
    width: 2px;
    height: 30px;
    background-color: #666666;
    position: absolute;
    top: -14px;
}

.horizontal {
    height: 2px;
    width: 30px;
    background-color: #666666;
    position: absolute;
    left: -14px;
}