.main-container {
  position: relative;
}

.items-container {
  position: absolute;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid black;
    display: inline-block;
    overflow: hidden;
  }
  
  .layer-panel {
    z-index: 2000;
  }
  
  .bottom-left-panel {
    position: absolute;
    left: 5px;
    bottom: 5px;
  
    input {
      margin-left: 5px;
    }
  }
  
  .cloud-view-container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    pointer-events: none;
    transform: scale(0.4);
    transform-origin: right top;
  }

  .arrow {
    position: absolute;
    background-color: lightblue;
    opacity: 0.5;

    &.active {
      opacity: 1;
      cursor: pointer;
    }

    &.top, &.bottom {
      width: 100px;
      height: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.right, &.left {
      width: 50px;
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.top {
      top: 10px;
    }

    &.bottom {
      bottom: 10px;
    }

    &.right {
      right: 10px;
    }

    &.left {
      left: 10px;
    }
  }