.buttons {
    text-align: center;
    margin-top: 15px;
}

.name {
    width: 57px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.value-container {
    margin-bottom: 5px;
}

.title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
}