:host {
  text-align: center;
  padding-top: 60px;
}

.title {
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 16px;
}

.component {
  margin-bottom: 8px;
}

.name {
  text-align: right;
  display: inline;
  margin-right: 20px;
}

.buttons {
  margin-top: 19px;
}