:host {
  text-align: center;
  display: block;
}

.block-container {
  margin-bottom: 60px;
}

.title {
  margin-top: 20px;
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 16px;
}

.component {
  margin-bottom: 8px;

  input {
    margin-right: 5px;
  }
}

.name {
  text-align: right;
  display: inline;
  margin-right: 20px;
}

.buttons {
  margin-top: 19px;
}