:host {
    display: inline-block;
    border: 1px solid;
    padding: 8px;
    background-color: lightsalmon;
    border-radius: 8px;
    text-align: center;
    margin: 6px;
    margin-right: 0px;
}

.name {
    margin-bottom: 10px;
}

input {
    margin-bottom: 6px;
    display: block;
}