.name-display {
  display: inline-block;
  width: 85px;
  font-size: 14px;
  vertical-align: top;
}

input, textarea {
  width: 207px;

  &[type=checkbox] {
    width: 13px;
  }
}

select {
  width: 213px;
}

input {
  padding: 1px;
}

textarea {
  resize: none;
}