.name-display {
  display: inline-block;
  width: 110px;
  font-size: 13px;
  vertical-align: middle;
}

input, textarea {
  width: 180px;

  &[type=checkbox] {
    width: 13px;
  }

  vertical-align: middle;
}

select {
  width: 213px;
}

input {
  padding: 1px;
}

textarea {
  resize: none;
}