<div class="name-display">{{ entry.name }}:</div>
<textarea *ngIf="entry.type === 'long_string'" [(ngModel)]="value"></textarea>
<input *ngIf="entry.type === 'number' || entry.type === 'color_int'" type="number" placeholder="----" [(ngModel)]="value">
<input *ngIf="entry.type === 'color'" type="color" [ngModel]="value | toColorString" (ngModelChange)="value = $event">
<select *ngIf="entry.type === 'select'" [(ngModel)]="value">
  <option *ngFor="let option of entry.selectValues" [value]="option">{{ option }}</option>
</select>
<input type="checkbox" *ngIf="entry.type === 'boolean'" [(ngModel)]="value">